@charset "utf-8";
@import url(nv.css); 
@import url(main.css); 
@import url(contents.css); 


/*css����-s*/
html, body, div, dl, dt, dd, ul, ol, li, p {/*margin:0px;*/ padding:0px;  font-family:"Dotum";  font-size:12px; list-style:none;} 
body{color:#616161;} 
img {border:0px; vertical-align:middle;} 
img, select, input{ vertical-align:middle; font-size:inherit; font-family:inherit; line-height:inherit;}
input.img, input.radio, input.checkbox{padding:0px; margin:0px; height:auto; border:none; background:none; vertical-align:middle;}
em, i, address{font-style:normal; font-weight:normal;}

#bg_area{float:left; width:110px;}

html { overflow:scroll; }
/*link ����*/
a{text-decoration:none; color:inherit;}

a:link{ text-decoration: none; color: #000;} 
a:visited{ text-decoration: none; color: #000;} 
a:hover{ text-decoration: underline; color: #000;} 
a:active{ text-decoration: none; color: #000;}

a:link.linkTy1{ text-decoration: none; color: #00a;} 
a:visited.linkTy1{ text-decoration: none; color: #00a;} 
a:hover.linkTy1{ text-decoration: underline; color: #00a;} 
a:active.linkTy1{ text-decoration: none; color: #00a;}

a:link.linkTy2{ text-decoration: none; color: #00a;} 
a:visited.linkTy2{ text-decoration: none; color: #00a;} 
a:hover.linkTy2{ text-decoration: underline; color: #00a;} 
a:active.linkTy2{ text-decoration: none; color: #00a;}

a:link.linkTy3{ text-decoration: none; color: #00a;} 
a:visited.linkTy3{ text-decoration: none; color: #00a;} 
a:hover.linkTy3{ text-decoration: underline; color: #00a;} 
a:active.linkTy3{ text-decoration: none; color: #00a;}

/*input_select_textarea ����-s*/
.selectTy1{border:1px solid #d6d6d6; background:#fff; color:#666; height:18px;}
.selectTy2{border:1px solid #cccccc; background:#fff;}
.selectTy3{border:1px solid #cccccc; background:#fff;}
.selectTy4{border:1px solid #cccccc; background:#fff;}

.inputTy1{border:0px solid #cccccc; background:#fff;}
.inputTy2{border:1px solid #cccccc; background:#fff;}
.inputTy3{border:1px solid #cccccc; background:#fff;}
.inputTy4{border:1px solid #cccccc; background:#fff;}
.inputTy5{border:1px solid #cccccc; background:#fff;}

.textareaTy1{border:1px solid #d0d0d0; background:#fff;}
.textareaTy2{border:1px solid #d0d0d0; background:#fff;}
.textareaTy3{border:1px solid #d0d0d0; background:#fff;}
.textareaTy4{border:1px solid #d0d0d0; background:#fff;}
.textareaTy5{border:1px solid #d0d0d0; background:#fff;}

.radioTy1{border:none;}
.radioTy2{border:none;}

.checkBoxTy1{border:1px solid #ddccdd;}
.checkBoxTy2{border:1px solid #ddccdd;}

/*skipnv-s*/
#skip_navigation {height:0px; line-height:0px; position:absolute; top:-100px; float:left;} 
#skip_navigation li {position:absolute; top:-100px;} 
#skip_navigation li a{display:block; width:530px; font-weight:bold; text-align:center; font-size:120%; color:#f36f32;} 
#skip_navigation li a:focus, #skip_navigation li a:hover, #skip_navigation li a:active {position:absolute; top:105px; left:20px; font-size:120%; background:#fff; border:3px solid #f36f32; padding:1em; z-index:10;}   

#skip_top {height:0px; line-height:0px; position:absolute; bottom:-100px;} 
#skip_top li {position:absolute; bottom:-100px;} 
#skip_top li a{display:block; width:530px; font-weight:bold; text-align:center; font-size:120%; color:#f36f32;} 
#skip_top li a:focus, #skip_top li a:hover, #skip_top li a:active {position:absolute; top:105px; left:20px; font-size:120%; background:#fff; border:3px solid #f36f32; padding:1em; z-index:10;} 

/*hidden����-s*/
.hid{ position:absolute; visibility:hidden; width:0px; height:0px; top:0px; left:0px; overflow:hidden; font-size:0px; float:left; clear:both;} 
.hid_Btn{display:none;} 
.hid_biz_sticker{ position:absolute; visibility:hidden; width:0px; height:0px; top:0px; left:0px; overflow:hidden; font-size:0px; float:left;} 

/*hidden����-e*/

/*����*/
.pdL0{padding-left:0px;}
.pdL5{padding-left:5px;}
.pdL7{padding-left:7px;}
.pdL10{padding-left:10px;}
.pdL13{padding-left:13px;}
.pdL15{padding-left:15px;}
.pdL20{padding-left:20px;}
.pdL30{padding-left:30px;}
.pdL40{padding-left:40px;}
.pdL45{padding-left:45px;}
.pdL50{padding-left:50px;}
.pdL55{padding-left:55px;}
.pdL60{padding-left:60px;}
.pdL70{padding-left:70px;}

.pdR3{padding-right:3px;}
.pdR5{padding-right:5px;}

.pdT0{padding-top:0px;}
.pdT3{padding-top:3px;}
.pdT5{padding-top:5px;}
.pdT7{padding-top:7px;}
.pdT10{padding-top:10px;}
.pdT12{padding-top:12px;}
.pdT15{padding-top:15px;}
.pdT20{padding-top:20px;}
.pdT25{padding-top:25px;}
.pdT30{padding-top:30px;}
.pdT35{padding-top:35px;}
.pdT40{padding-top:40px;}
.pdT50{padding-top:50px;}
.pdT105{padding-top:105px;}

.pdB5{margin-bottom:5px;}
.pdB10{margin-bottom:10px;}

.mgT0{margin-top:0px;}
.mgT3{margin-top:3px;}
.mgT5{margin-top:5px;}
.mgT10{margin-top:10px;}
.mgT13{margin-top:13px;}
.mgT15{margin-top:15px;}
.mgT20{margin-top:20px;}
.mgT23{margin-top:23px;}
.mgT30{margin-top:30px;}
.mgT40{margin-top:40px;}
.mgT50{margin-top:50px;}

.mgB5{margin-bottom:5px;}
.mgB10{margin-bottom:10px;}
.mgB20{margin-bottom:20px;}
.mgB50{margin-bottom:50px;}

.mgL5{margin-left:5px;}
.mgL7{margin-left:7px;}
.mgL10{margin-left:10px;}
.mgL13{margin-left:13px;}
.mgL15{margin-left:15px;}
.mgL20{margin-left:20px;}
.mgL30{margin-left:30px;}

/*float*/
.F_left{float:left;}
.F_right{float:right;}

/*align*/
.T_left{text-align:left;}
.T_center{text-align:center;}
.T_right{text-align:right;}

/*�ؽ�Ʈ �÷� Ÿ��*/
.text_Color1{color:#990707;}
.text_Color2{color:#990707;}
.text_Color3{color:#990707;}
.text_Color4{color:#990707;}
.text_Color5{color:#990707;}
.text_Color6{color:#990707;}
.text_Color7{color:#990707;}

/*����*/
.wd100{width:100%;}
.wd50{width:50%;}
